$mainColor: rgba(66, 118, 125, 0.8);
$brightGreenColor: #D5F1F6;
$brightColor: #fdfdfd;
$mainColorBg: rgba(66, 118, 125, 0.4);

$fontSize: 16px;
$fontFamily: 'Shadows Into Light', cursive;

$borderRadius: 2px;
$mainBorder: 1.5px dashed;
$transition: all .3s linear;
