@import 'styles';

.wrapper {
  display: block;
  background: $mainColorBg;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: fixed;
  left: 25%;
  top: 15%;
  height: 55%;
  width: 40%;
  background: $brightColor;
  border-radius: $borderRadius;
  padding-left: 5%;

  .label, .textarea {
    background: transparent;
    color: $mainColor;
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 2rem;
    width: 80%;
    outline: none;
    border: none;
    border-bottom: $mainBorder $mainColor;
    resize: none;
    text-transform: uppercase;
    overflow: hidden;

    &:nth-of-type(2n) {
      width: 20%;
    }
  }

  .colorPicker {
    width: 60%;

    > p {
      border-bottom: none;
    }

    > div {
      display: flex;
    }

    .color {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 0.3rem;
      cursor: pointer;
      border: $mainBorder transparent;

      &:hover {
        border: $mainBorder $mainColor;
        transition: $transition;
      }

      &--yellow {
        background-color: #FFFED4;
      }

      &--blue {
        background-color: #9AE8ED;
      }

      &--pink {
        background-color: #FFE1E0;
      }

      &--green {
        background-color: #51A08A;
      }

      &--gray {
        background-color: #EBE8E8;
      }

      &--red {
        background-color: #FF8080;
      }
    }
  }
}

::-webkit-input-placeholder {color: $mainColor;}
::-moz-placeholder          {color: $mainColor;}/* Firefox 19+ */

.title {
  font-size: 2rem;
  margin-top: 2rem;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 3.5rem 7rem 0 0;
}

.btn {
  color: $mainColor;
  background: transparent;
  outline: none;
  border: $mainBorder $mainColor;
  border-radius: $borderRadius;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: $transition;
  font-family: $fontFamily;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20%;

  &:hover {
  transition: $transition;
  background-color: $mainColor;
  color: $brightGreenColor;
  }

  &:first-of-type {
    margin-right: 2rem;
  }
}

.preview {
  position: absolute;
  right: 126px;
  bottom: 170px;
}

