@import 'styles';

.container {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
  color: $mainColor;
}

.title > input {
  font-size: 3rem;
  font-weight: $fontWeight;
  background: transparent;
  font-family: $fontFamily;
  color: $mainColor;
  text-align: center;
  transition: $transition;
  border: none;
  border-bottom: $mainBorder transparent;

  &:hover, &:focus {
    cursor: pointer;
    border-bottom: $mainBorder $mainColor;
    outline: none;
  }
}

.btn {
  text-transform: uppercase;
  font-size: 2rem;
  outline: none;
  border-radius: 50px;
  padding: 0rem 0.9rem;
  cursor: pointer;
  font-family: $fontFamily;
  color: $mainColor;
  border: $mainBorder $mainColor;
  background-color: transparent;
  transition: $transition;
  font-weight: bold;
}

.btn:hover {
  border: $mainBorder transparent;
  transition: $transition;
  background-color: $mainColor;
  color: $brightGreenColor;
}

.deleteIcon {
  cursor: pointer;
  transition: all .4s linear;
  background: url("@icons/delete_icon.svg");
  width: 80px;
  height: 80px;

  &:hover {
    opacity: $opacity;
    animation: shake 0.7s;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

